{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<table class="pure-table pure-table-striped">
  <tr>
    <th></th><th>Price</th><th>Volume</th>
  </tr>
  {% for key, value in stats %}
  <tr>
    <td>{{ key }} </td><td>{{ value.0 }}</td><td>{{ value.1 }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
