language: php

php:
  - 5.6

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --no-interaction

script:
 - mkdir -p build/logs
 - rake travis

after_script:
 - vendor/bin/coveralls -v

after_success:
  - bash <(curl -s https://codecov.io/bash)
