# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:

  app.secrets:
    class: AppBundle\Secrets

  guzzle.http_client:
    class: GuzzleHttp\Client

  bitstamp.api:
    class: AppBundle\API\Bitstamp\BitstampAPI
    arguments: [@guzzle.http_client, @logger]

  bitstamp.trade_pairs:
    class: AppBundle\API\Bitstamp\BitstampTradePairs
    arguments: [@bitstamp.balance, @bitstamp.order_book, @bitstamp.open_orders, @bitstamp.sell, @bitstamp.buy, @validator, @logger]

  # Private API
  bitstamp.private_api_authenticator:
    class: AppBundle\API\Bitstamp\PrivateAPI\PrivateAPIAuthenticator
    arguments: [@app.secrets]

  bitstamp.private_api:
    class: AppBundle\API\Bitstamp\PrivateAPI\PrivateAPI
    arguments: [@guzzle.http_client, @logger, @bitstamp.private_api_authenticator]

  bitstamp.balance:
    class: AppBundle\API\Bitstamp\PrivateAPI\Balance
    parent: bitstamp.private_api

  bitstamp.bitcoin_deposit_address:
    class: AppBundle\API\Bitstamp\PrivateAPI\BitcoinDepositAddress
    parent: bitstamp.private_api

  bitstamp.bitcoin_withdrawal:
    class: AppBundle\API\Bitstamp\PrivateAPI\BitcoinWithdrawal
    parent: bitstamp.private_api

  bitstamp.cancel_order:
    class: AppBundle\API\Bitstamp\PrivateAPI\CancelOrder
    parent: bitstamp.private_api

  bitstamp.cancel_all_orders:
    class: AppBundle\API\Bitstamp\PrivateAPI\CancelAllOrders
    parent: bitstamp.private_api

  bitstamp.open_orders:
    class: AppBundle\API\Bitstamp\PrivateAPI\OpenOrders
    parent: bitstamp.private_api

  bitstamp.order_status:
    class: AppBundle\API\Bitstamp\PrivateAPI\OrderStatus
    parent: bitstamp.private_api

  bitstamp.ripple_address:
    class: AppBundle\API\Bitstamp\PrivateAPI\RippleDepositAddress
    parent: bitstamp.private_api

  bitstamp.ripple_withdrawal:
    class: AppBundle\API\Bitstamp\PrivateAPI\RippleWithdrawal
    parent: bitstamp.private_api

  bitstamp.sell:
    class: AppBundle\API\Bitstamp\PrivateAPI\Sell
    parent: bitstamp.private_api

  bitstamp.buy:
    class: AppBundle\API\Bitstamp\PrivateAPI\Buy
    parent: bitstamp.private_api

  bitstamp.unconfirmed_btc:
    class: AppBundle\API\Bitstamp\PrivateAPI\UnconfirmedBitcoinDeposits
    parent: bitstamp.private_api

  bitstamp.user_transactions:
    class: AppBundle\API\Bitstamp\PrivateAPI\UserTransactions
    parent: bitstamp.private_api

  bitstamp.withdrawal_requests:
    class: AppBundle\API\Bitstamp\PrivateAPI\WithdrawalRequests
    parent: bitstamp.private_api

  # @todo - define the rest of the services.

  # Public API
  bitstamp.public_api:
    class: AppBundle\API\Bitstamp\PublicBitstampAPI
    parent: bitstamp.api

  bitstamp.eur_usd:
    class: AppBundle\API\Bitstamp\PublicAPI\EURUSD
    parent: bitstamp.public_api

  bitstamp.transactions:
    class: AppBundle\API\Bitstamp\PublicAPI\Transactions
    parent: bitstamp.public_api

  bitstamp.ticker:
    class: AppBundle\API\Bitstamp\PublicAPI\Ticker
    parent: bitstamp.public_api

  bitstamp.order_book:
    class: AppBundle\API\Bitstamp\PublicAPI\OrderBook
    parent: bitstamp.public_api
